extends layout

block styles
block content
  .main
    .main-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h1.brand-heading 3Dify.xyz
            p.intro-text abc
block footer
block scripts