extends layout

block styles
block content
  .main
    .main-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h1.brand-heading 3Dify.xyz
            p.about-text
            | 3dify.xyz is a web application developed to reconstruct 3D models from 2D images. Simply upload multiple shots of an object from different angles, and a 3D model of that object will be reconstructed. It is recommended that shots be taken with large overlaps so the resulting model will be more accurate.
            p.about-text
            | This web application was developed by 
            a(href='http://changchuming.github.io') Chang Chu-Ming 
            | and Lee Kai Yi.
block footer
block scripts