extends layout

block styles
block content
  .main
    .main-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h1.brand-heading 3Dify.me
            p.intro-text
              textarea#comment.form-control(rows='2')
              | Upload photos
              | Upload photos
              | Upload photos
              | Upload photos
              | Upload photos
              | Upload photos
              | Upload photos
              | Upload photos
              | Upload photos
              html
                body
                  form(action='/upload', enctype='multipart/form-data', method='post')
                    input(type='file', name='upload', multiple='multiple')
                    input(type='submit', value='Upload')
                    
              form#fileUpload(name="fileUpload", method="POST", action="/fileUpload", enctype="multipart/form-data")
                input#userInputFile(type="file", name="logName")
                button(type="submit") Upload
block footer