extends layout
  
block content
  link(rel='stylesheet', href='/css/index.css')
  //
    h1= title
    p Welcome to #{title}
      h1(id="title") Upload your 2D Images
      button(class="btn", data-action="bea").
        Upload
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Project name
      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href='#') Home
          li
            a(href='#about') About
          li
            a(href='#contact') Contact
  .container
    .starter-template
      h1 Bootstrap starter template
      p.lead
        | Use this document as a way to quickly start any new project.
        br
        |  All you get is this text and a mostly barebones HTML document.
block footer
  script(src='/js/index.js', type='text/javascript')