doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title= title
    link(rel='stylesheet', type='text/css', href='/components/bootstrap-css/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/css/grayscale.css')
    // Custom css fonts
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Montserrat:400,700')
    block styles
    
  body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
    // FB share SDK
    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=608536652558379";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    // Navigation
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
            i.fa.fa-bars
          a.navbar-brand.page-scroll(href='/')
            i.fa.fa-play-circle
            span.light &nbsp; 3Dify.xyz
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
            // Hidden li included to remove active class from about link when scrolled up past about section
            li.hidden
              a(href='#page-top')
            li
              a.page-scroll(href='/') Upload
            li
              a.page-scroll(href='drone') Drone
            li
              a.page-scroll(href='about') About
    block content
    .fb-like(data-href='http://3dify.xyz', data-layout='standard', data-action='like', data-show-faces='true', data-share='true', colorscheme='dark', width='225')
    .footer.text-center
      p Copyright © 3Dify.xyz
    block footer
    // HTML5 Shim IE8 support of HTML5 elements and media queries
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    // HTML5 Respond.js IE8 support of HTML5 elements and media queries
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    // Jquery
    script(src='components/jquery/dist/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='components/bootstrap-css/js/bootstrap.min.js', type='text/javascript')
    // Plugin JavaScript
    script(src='components/jquery.easing/js/jquery.easing.min.js')
    // Knockout
    script(src='components/knockout/dist/knockout.js')
    // Custom Theme JavaScript
    script(src='js/grayscale.js')
    block scripts