extends layout

block styles
  link(rel='stylesheet', type='text/css', href='http://www.x3dom.org/download/x3dom.css')
block content
  .main
    .main-body
      x3d(width='800px', height='800px')
        scene
          inline(url='/uploads/' + jobname + '/coloredmodel.x3d')
block footer
  .footer.text-center
    p Copyright © 3Dify.me
block scripts
  // Server variables
  script.
    var jobname = !{jobname}
    var jobid = !{jobid}
  // Socket.io
  script(src='http://www.x3dom.org/download/x3dom.js', type='text/javascript')
  script(src='/socket.io/socket.io.js', type='text/javascript')
  script(src='js/result.js')